.pedidos-contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px 80px;
    align-items: center;
    text-align: center;
    font-size: 20px;

}

.pedidos-contenedor ul{
    color: #F3E9DC;
    background-color:#895737 ;
    margin: 15px auto;
    width: 500px;    
    padding: 10px;
    border-radius: 10px; 

}

.pedidos-contenedor li{
    list-style-type: none;
    text-decoration: none;
    font-size: 25px;
}

.pedidos-contenedor ul h4{
    color: #F3E9DC;
    font-size: 35px;
    text-shadow: 0.2px 0.2px 2px black;
}

.pedidos-contenedor a{
    text-decoration: none;
    color: #F3E9DC;
    font-size: 35px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 50px;
    text-shadow: 1px 1px 3px black;
}

.basura:hover{
    color: rgb(255, 67, 67);
    cursor: pointer;
}

.editar:hover{
    color: #498467;

}






/*colores:
blanco: #F3E9DC
verde:  #498467
marron: #895737
*/
