*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F3E9DC;
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}
header{
    margin: 15px 25px 15px 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-contenedor {
    display: flex;
    background-color: #895737;
    justify-content:center;
    align-items: center;
    width: 100%;
    padding: 10px; 
    border-radius: 20px;
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo img{
    height: 100%;
    width: 170px;
}

.elementos-navbar{
    list-style: none;
    display: flex;
    margin: 0;

}
.elementos-navbar li{
    margin: 0 15px;
}

.elementos-navbar a {
    text-decoration: none;
    color: #F3E9DC;
    font-size:30px;
}

.elementos-navbar a:hover {
    color: #498467;
}


footer {
    background-color: #895737;
    color: #F3E9DC;
    padding: 20px;
    width: 100%;
    margin-top: 30px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.footer-contenedor {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
}

.footer-elemento {
    flex: 1;
    margin: 10px;
}

.logo-footer img{
    height:100px; 
}

.footer-elemento h4 {
    padding: 7px;
    background-color: #498467;
    border-radius: 10px;
    text-align: center;
}

.footer-elemento ul {
    list-style: none;
}

.footer-elemento ul li {
    padding: 7px;
}

.footer-elemento ul li a {
    color: #F3E9DC;
    text-decoration: none;
}

.footer-elemento ul li a:hover {
    color: #498467;
}

.footer-elemento p{
    padding: 7px;
}

.redes{
    display: flex;
    justify-content: center;
    
}

.redes a{
   margin: 10px;
   margin-bottom: 0;
}



