.confirmacion-contenedor{
    border-radius: 10px;
    width: 80%;
    padding: 18px 50px 25px 50px;
    box-shadow: 1px 1px 5px black;
    margin: 70px auto 30px;
    font-size: 100px;
    color: palevioletred;
    height: auto;

}

.confirmacion-contenedor h4{
    font-size: 10px;
    text-align: center;
    text-decoration: underline;

}

.confirmacion-contenedor ul{
    font-size: 10px;
    list-style-type: none;
    margin: 8px;
    background-color:blue;
    border-radius: 10px;
    padding: 3px 10px;
}



/*colores:
blanco: #F3E9DC
verde:  #498467
marron: #895737
*/
